.table {
  display: table;

}

.table-head {
  border: thin solid black;

}

.table-body {
  border: thin solid black;

}

.table-row {
  display: table-row;
}

.table-header {
  display: table-cell;
}

.table-data {
  display: table-cell;

}
