.custom-checkbox {
  display: table;

  .custom-checkbox__hidden-checkbox {
    display: none;
  }

  .custom-checkbox__click-image {
    display: table-cell;
    vertical-align: middle;
    font-size: 0;
  }

  img {
    display: inline-block;
    vertical-align: top;
    font-size: 16px;
  }

  .custom-checkbox__hidden-input {
    display: none;
  }

  label {
    display: table-cell;
    vertical-align: middle;
  }
}
